<h1 align="text-center"><%= @category.name %></h1>
<table class="table table-bordered">
	<thead class="table-dark">
 		<tr>
       <th> Sub-Categories</th>
       <th> Add Product </th>
    </tr>
	</thead>
	<tbody align="text-center">
		<% @category.subcategories.each do |subcategory|%>
		  <tr>
		    <td><%= subcategory.name %></td>
        <td><%= link_to 'Add Product', new_supplier_product_path(:cat_id => subcategory.id)%>
  		</tr>
		<% end %>
	</tbody>
</table>

